[submodule "TinyOAuth2.0PoC_ClientServer"]
	path = TinyOAuth2.0PoC_ClientServer
	url = https://github.com/yutadd/TinyOAuth2.0PoC_ClientServer.git
[submodule "tiny_oauth2_poc_a11n_server"]
	path = tiny_oauth2_poc_a11n_server
	url = https://github.com/yutadd/tiny_oauth2_poc_a11n_server.git
[submodule "tiny_oauth2_poc_resource_server"]
	path = tiny_oauth2_poc_resource_server
	url = https://github.com/yutadd/tiny_oauth2_poc_resource_server.git
